html {
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}

html,body {
	background:#f9f9f9;
}

#container {
	max-width:650px;
	margin:0px auto 2em;
	position:relative;
}

#post, #posts {
	border:1px solid #cccccc;
	border-radius:5px;
	padding:0 20px 10px;
	background:white;
}

#posts li {
	list-style:none;
	margin-bottom:0.25em;
}

#posts .mono {
	font-size:0.9em;
}

#posts span.mono {
	color:#999999;
	padding-right:1em;
}

#post #page-title {
	margin-bottom:0.3em;
}

#post .sub-title {
	color:#999999;
}

#post-content {
	border-top:1px solid #eeeeee;
	padding-top:1.5em;
}

#disqus_thread {
	border-top:3px double #eeeeee;
}

header p {
	font-size:1.4em;
	font-style:italic;
	color:#777777;
}


/* social links */
#social-links {
	position:absolute;
	top:0;
	right:0;
	margin:0;
}
#social-links li {
	list-style:none;
	float:left;
}
#social-links li a {
	display:block;
	width:48px;
	height:48px;
	text-indent:-9999px
}
#social-links li.twitter a {
	background:url(../images/twitter-logo.png) no-repeat;
}
#social-links li.linked-in a {
	background:url(../images/linked-in-logo.png) no-repeat;
}
#social-links li.google-plus a {
	background:url(../images/google-plus-logo.png) no-repeat;
}

#footer {
	color:#777777;
	margin-top:2em;
	text-align:right;
}
