html {
     overflow : -moz-scrollbars-vertical;
     overflow : scroll;
}

html,body {
	background : #fefefe;
}

#container {
	min-width : 650px;
	position  : relative;
}

header, footer, #main  {
	padding      : 1em;
}

.centerizer {
	max-width : 580px;
	margin    : 0px auto;
	position  : relative;
}

header, footer {
	background-color : #f4f1f1;
}

header {
	border-bottom  : 1px solid #e4e1e1;
	padding-bottom : 20px;
}

	header h1 a {
		color           : #333333;
		text-decoration : none;
	}

	header p {
		font-style : italic;
		margin     : 0;
	}

	/* social links */
	#social-links {
		position : absolute;
		bottom : 0;
		right : 0;
		margin : 0
	}
	#social-links li {
		list-style : none;
		float : left
	}
	#social-links li a {
		display     : block;
		width       : 48px;
		height      : 48px;
		text-indent : -9999px;
		background  : url(../images/social-icons.png) no-repeat;
		margin-left : 0.3em;
	}
	#social-links li.google-plus a {
		background-position : 0px 0px;
	}
	#social-links li.linked-in a {
		background-position : -48px 0px;
	}
	#social-links li.twitter a {
		background-position : -96px 0px;
	}

	#ascii-art {
		position    : absolute;
		bottom      : -21px;
		white-space : pre;
		left        : -19em;
		font-family : "Bitstream Vera Sans Mono","Monaco",'andale mono','lucida console',monospace,"Courier New";
		color       : #343131;
	}

footer {
	border-top : 1px solid #e4e1e1;
}

#posts ul {
	margin : 0;
}

	#posts ul li {
		list-style     : none;
		font-size      : 1.2em;
		letter-spacing : 0.1em;
		line-height    : 2;
	}

	#posts a {
		text-decoration : none;
	}


#post #page-title {
	margin : 0.1em 0;
}

	#post .sub-title {
		color      : #555555;
		font-style : italic;
	}

#post-content h1 {
	font-size     : 2em;
	margin-bottom : 0.75em;
	border-bottom : 1px solid #d4d1d1;
}
#post-content h2 {
	font-size: 1.5em; line-height: 1; margin-bottom: 0.5em;
}
#post-content h3 {
	font-size: 1.2em;
}