@media print {
	
	html, body {
		background:#ffffff;	
	}

	h1 {
		margin-bottom:0.1em;
		margin-top:0;
	}

	h1 a {
		text-decoration:none;
	}

	header p,
	#footer {
		color:#444444;
	}

	#follow-me,
	#fork-me,
	#comments-container,
	#powered-by,
	#published-in,
	nav {
		display:none;
	}

	#post {
		border:none;
		padding:0;
	}

	#post-content {
		padding-top : 0.5em;
	}

	.highlight  { 
		padding:0.5em 1.5em;
		margin-bottom:1.5em;
		border:none;
	}

	pre, code {
		white-space:pre-wrap;
	}

}