<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}: Frank Fusion: ColdFusion, JavaScript, CSS, Web development, Linux, etc.</title>
		<meta name="description" content="ColdFusion, JavaScript, CSS, Web development, Linux, etc.">
		<meta name="author" content="Dominic Watson">

		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- atom feed -->
		<link rel="alternate" type="application/atom+xml" href="/atom.xml">

		<!-- css -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Droid+Serif|Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% minified_css_file %}">

		<!-- google analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-8723653-4']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="container">
			<header>
				<div class="centerizer">
					<h1><a href="/">Frank Fusion</a></h1>
					<p>A blog on web development, by Dominic Watson</p>
					<a id="follow-me" class="no-print" href="http://twitter.com/#!/dom_watson" title="Follow me on twitter">Follow me on twitter</a>
					<a id="fork-me"   class="no-print" href="https://github.com/dominicwatson" title="Fork me on GitHub">Fork me on GitHub</a>

					<a id="show-keyboard-shortcuts" class="no-print" data-goto-key="?" href="#keyboard-navigation-help" title="Show keyboard shortcuts (type '?' to toggle)">?</a>
					<div id="keyboard-navigation-help">
						<h1>Keyboard shortcuts</h1>
						<dl>
							<dt>General</dt>
							<dd><span><strong>g</strong> then <strong>h</strong></span> Home</dd>
							<dd><span><strong>p</strong> then <strong>p</strong></span> Projects</dd>
							<dd><span><strong>g</strong> then <strong>a</strong></span> About</dd>
							<dd><span><strong>?</strong></span> Show/hide keyboard shortcut help</dd>
						</dl>

						<dl>
							<dt>Post lists</dt>
							<dd><span><strong>1</strong></span> Select first post in list</dd>
							<dd><span><strong>&uarr;</strong> or <strong>&darr;</strong></span> Select previous / next post</dd>
							<dd><span><strong>ENTER</strong></span> Go to selected post</dd>
						</dl>

						<dl>
							<dt>Blog post</dt>
							<dd><span><strong>g</strong> then <strong>1</strong>, <strong>2</strong>, <strong>3</strong>, etc.</span> Go to category <em>n</em></dd>
							<dd><span><strong>g</strong> then <strong>n</strong></span> Newer (next) post</dd>
							<dd><span><strong>g</strong> then <strong>o</strong></span> Older (previous) post</dd>
						</dl>
					</div>
				</div>
			</header>
			<nav class="no-print">
				<ul class="centerizer">
					<li><a data-goto-key="h" href="/"><b class="shortcut-key">H</b>ome</a></li>
					<li><a data-goto-key="p" href="/projects.html"><b class="shortcut-key">P</b>rojects</a></li>
					<li><a data-goto-key="a" href="/about-me.html"><b class="shortcut-key">A</b>bout me</a></li>
				</ul>
			</nav>
			<div id="main" role="main">
				<div class="centerizer">
					{{ content }}
				</div>
			</div>
			<footer>
				<div class="centerizer">
					<p>&copy; Dominic Watson 2008-2012. <span class="no-print" id="powered-by">Site powered by <a href="https://github.com/mojombo/jekyll" target="_blank">Jekyll</a>, <a href="http://aws.amazon.com/s3/" target="_blank">Amazon S3</a> and <a href="https://github.com/DominicWatson/frankfusion" target="_blank">GitHub</a></span></p>
				</div>
			</footer>
		</div><!--! end of #container -->

		<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  		<script>if ( typeof jQuery === 'undefined' ) { document.write( '<sc' + 'ript src="/static/js/jquery.js"></scr' + 'ipt>' ); }</script>
  		<script src="{% minified_js_file %}"></script>
	</body>
</html>
