---
   layout: default
---

<article>
	<section id="post-header">
		<time>{{ page.date | date_to_long_string }}</time>
		<h1 id="page-title">{{ page.title }}</h1>
		<aside id="published-in" class="no-print">Published in {{ page.categories | category_links }}</aside>
	</section>

	<section id="post-content">
		{{ content }}
	</section>

	<section id="comments-container" title="discussion" class="no-print">
		<h1>Discussion</h1>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_shortname = 'frankfusion';
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
	</section>
</article>
