---
   layout: default
---

<article>
	<section id="post-header">
		<nav id="post-navigation">
			{% if page.next %}
				<span class="page-nav-item">
					<a rel="next" data-goto-key="n" href="{{ page.next.url }}" title="View next post, '{{ page.next.title }}'">&larr; <b class="shortcut-key">N</b>ewer</a>
				</span>
			{% endif %}
			{% if page.previous %}
				<span class="page-nav-item">
					<a rel="prev" data-goto-key="o" href="{{ page.previous.url }}" title="View previous post, '{{ page.previous.title }}'"><b class="shortcut-key">O</b>lder &rarr;</a>
				</span>
			{% endif %}
		</nav>
		<aside class="time">{{ page.date | date_to_long_string }}</aside>
		<h1 id="page-title">{{ page.title }}</h1>
		<aside id="published-in" class="no-print">Published in {{ page.categories | category_links }}</aside>
	</section>

	<section id="post-content">
		{{ content }}
	</section>

	<section id="comments-container" title="discussion" class="no-print">
		<h1>Discussion</h1>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		    var disqus_shortname = 'frankfusion';
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
	</section>
</article>