---
   layout: default
---

<article>
	<time>{{ page.date | date_to_long_string }}</time>
	<h2 id="page-title">{{ page.title }}</h2>
	<aside id="published-in">Published in {{ page.categories | category_links }}</aside>
	
	{{ content }}

	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    var disqus_shortname = 'frankfusion';
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
</article>
